<form id="new-group" name="group" >
  <div class="field">
    <label for="name"> Name:</label>
    <input type="text" name="name" id="name" class = "gname" value="<%= name %>"  placeholder="Name your group" required>
  </div><br>

   <label for="name"> Projects:</label>
   <div id="pgroups-list">
   			
   </div>
<h3 style="text-align:center; border-bottom: 1px solid grey;"></h3>
  <div class="actions" style="float:right; ">
    <input type="submit" value="Create Group"  />
  </div>
</form>

