<h1>New event</h1>

<form id="new-event" name="event">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>"  >
  </div>

  <div class="field">
    <label for="color"> color:</label>
    <input type="text" name="color" id="color" value="<%= color %>" >
  </div>

  <div class="field">
    <label for="start"> start:</label>
    <input type="text" name="start" id="start" value="<%= start %>" >
  </div>

  <div class="field">
    <label for="end"> end:</label>
    <input type="text" name="end" id="end" value="<%= end %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Event" />
  </div>

</form>

<a href="#/index">Back</a>