<form id="new-getflow" name="getflow">
  <div class="a">
  <button type="button" class="btn btn-default" data-toggle="tooltip" title="This project will be shared with all members of this workspace."  style="margin: 0px 0px -55px 200px;
  position: relative;   padding: inherit;" > 
  
            <i class="fa fa-users" ></i>Shared 
        </button>
		<input type="text" name="name"  class="pname" placeholder="Name of project" required> 

  </div>

  <div class="actions" style="float:right; margin: -36px 21px 0px 0px;
position: relative;">
		<a href="#" style="margin-right: 25px;">cancel</a>
    <input type="submit" class = "btn btn-info" id="click" value="Create Project" onClick = 'javascipit:submitForm();'/>

  </div>


</form>


