<div id="todos">asdas</div>

<script type="text/javascript">
  $(function() {
    // Flow is the app name
    window.router = new Flow.Routers.TodosRouter({todos: <%= @todos.to_json.html_safe -%>})
    Backbone.history.start();
  });
</script>
